/*
Colors used

Primary Color (Black): #000000;
Secondary Color (Green): #007200;
Navigation Link Color (Blue): #0000ff;
Hyperlink Color (Blue Violet): #8a2be2
Button Background Color(Grey): #808080;
Footer Background Color(light-grey): #dcdcdc;
 */

* {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 30px;
  font-weight: 700;
  color: black;
}

p {
  text-indent: 30px;
  color: #007200;
}

button {
  border: none;
  background-color: grey;
  color: white;
  text-decoration: none;
  padding: 20px;
  border-radius: 3px;
  border-bottom: 2px solid green;
}

button:hover,
button:focus {
  cursor: pointer;
  opacity: 0.8;
}

a:visited {
  color: blue;
}

a:hover {
  text-decoration: none;
}

a:active {
  color: green;
}

a:link {
  color: blueviolet;
}

.profile_potrait {
  float: left;
  width: 350px;
  margin-right: 40px;
  margin-left: 500px;
  border-radius: 50%;
}

.page-footer {
  clear: both;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 0 0 auto;
  background-color: #dcdcdc;
}

.profile {
  max-width: 1200px;
  min-width: 360px;
  text-align: center;
}

.page-header {
  flex: 0 0 auto;
  background-color: #dcdcdc;
}

.page-header__item {
  flex: 0 1 200px;
}

.navigation-list_item {
  display: inline-block;
  margin-left: 15px;
}

.navigation-list__item--active {
  background-color: lightblue;
}
.button,
button {
  /* overwrites browser defaults and resets the border */
  border: none;
  display: inline-block;
  /* takes the font from the outer container */
  font-family: inherit;
  /* styles the button */
  background-color: #357b70;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  /* width of the border, type, color */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition-duration: 0.2s;
  transition-property: opacity;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
}

.link,
link {
  /* overwrites browser defaults and resets the border */
  border: none;
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  transition-duration: 0.2s;
  transition-property: opacity;
}

@keyframes color-change {
  from {
    fill: #edc655;
  }
  to {
    fill: #f76414;
  }
}

.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }
  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }
  to {
    transform: translate(100px, 48px);
  }
}

@supports (display: grid) {
  .grid {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 300px;
    grid-gap: 20px;
  }

  .grid__item {
    background-color: lightgray;
  }
}

@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
}
